body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

.caixa-input {
    background-color: #2d2d2d; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
}

.titulo {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff; 
}

.input-arredondado {
    position: relative;
    margin-bottom: 20px;
}

.input-arredondado.total {
    width: 100%;
}

.input-arredondado label {
    position: absolute;
    top: 18px;
    left: 20px;
    color: #999;
    transition: all 0.25s ease;
    pointer-events: none;
    background-color: #2d2d2d;
    padding: 0 5px;
    border-radius: 5px;
}

.input-arredondado input,
.input-arredondado select {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #444;
    border-radius: 30px;
    background-color: #3a3a3a;
    color: #fff;
}

.input-arredondado input:focus,
.input-arredondado select:focus {
    border-color: #05a1a6;
}

.input-arredondado input:focus ~ label,
.input-arredondado select:focus ~ label,
.input-arredondado input:valid ~ label,
.input-arredondado select:valid ~ label {
    top: -10px;
    left: 20px;
    background-color: #05a1a6;
    color: #fff;
    font-size: 0.85em;
    border-radius: 30px;
}

.botoes-form {
    display: flex;
    justify-content: space-between;
}

.botao-enviar {
    padding: 15px 25px;
    color: #fff;
    background-color: #06bec6;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.botao-enviar:hover {
    background-color: #05a1a6;
}

.lista-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.produto {
    width: calc(33.333% - 20px);
    border: 1px solid #444;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: #3a3a3a;
}

.produto img {
    max-width: 100%;
    height: auto;
}

.produto h3 {
    margin: 10px 0;
}

.produto p {
    margin: 5px 0;
}

.produto .preco {
    font-weight: bold;
}
