body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

fieldset { 
    min-width: 450px;  
    width: 100%; 
    border: 1px solid #ccc;
    padding: 10px;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100 vh; 
    padding: 20px;
}

.caixa-input {
    background-color: #2d2d2d; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 500px; 
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 20px;    
}

#grid-produtos{
    max-width: 800px;;
}

.titulo {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff; 
}

.lista-produtos {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; 
}

.produto {
    background-color: #3a3a3a;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 5px; 
}

.produto h3 {
    margin: 10px 0 5px;
    font-size: 1.5em; 
}

.produto p {
    margin: 5px 0;
}

.preco {
    font-weight: bold;
    color: #06bec6; 
}

.quantidade {
    width: 50px; 
    margin-top: 10px; 
}

.botoes-form {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.botao-enviar {
    padding: 15px 25px;
    color: #fff;
    background-color: #06bec6;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    
}

.botao-enviar:hover {
    background-color: #05a1a6;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 10px;
    margin-bottom: 15px;
}

.radio {
    display: flex;        
    align-items: center;   
    margin: 8px;    
}

.radio input[type="radio"] {
    margin-right: 10px; 
}

.radio label {
    display: flex;
    align-items: center; 
    width: 100%; 
}

.radio label i {
    margin-right: 10px; 
}


.input-padrao {
    position: relative;
    margin-bottom: 20px;
}

.input-padrao.total {
    width: 100%;
}

.input-padrao label {
    position: absolute;
    top: 18px;
    left: 20px;
    color: #999;
    transition: all 0.25s ease;
    pointer-events: none;
    background-color: #2d2d2d;
    padding: 0 5px;
    border-radius: 5px;
}

.input-padrao input,
.input-padrao select {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #444;
    border-radius: 30px;
    background-color: #3a3a3a;
    color: #fff;
}

.input-padrao input:focus,
.input-padrao select:focus {
    border-color: #05a1a6;
}

.input-padrao input:focus ~ label,
.input-padrao select:focus ~ label,
.input-padrao input:valid ~ label,
.input-padrao select:valid ~ label {
    top: -10px;
    left: 20px;
    background-color: #05a1a6;
    color: #fff;
    font-size: 0.85em;
    border-radius: 30px;
}

.pequeno {
    grid-column: span 1;
}

.medio {
    grid-column: span 2;
}

.grande {
    grid-column: span 3;
}

.botoes-form {
    display: flex;
    justify-content: space-between;
}

.botao-enviar {
    padding: 15px 25px;
    color: #fff;
    background-color: #06bec6;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.botao-enviar:hover {
    background-color: #05a1a6;
}

