body {
    font-family: Arial, sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
}

fieldset { 
    min-width: 450px;  
    width: 100%; 
    border: 1px solid #ccc;
    padding: 10px;
}

header {
    background: rgba(0, 0, 0, 0.8);
    padding: 1em 2em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

header h1 {
    font-size: 1.5em;
    margin: 0;
    flex: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

h3 #bandeira{
text-align: center;
}

.botao-login {
    padding: 10px 20px;
    color: #000;
    background-color: #f89c11;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);   
}

.botao-login:hover {
    background-color: #e63a24;
}

.inicial {
    position: relative;
    width: 100%;
    height: 91vh;
    overflow: hidden;
}

.inicial-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inicial-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(0%, -50%);
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}

.inicial-text h1 {
    font-size: 3em;
    margin: 0;
}

.inicial-text p {
    font-size: 1.5em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;   
    margin-top: auto;
    width: 100%; 
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100 vh; 
    padding: 20px;
    margin-top: 100px;
}

.caixa-form {
    background-color: #2d2d2d;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 500px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 20px;    
}

#grid-produtos{
    max-width: 800px;
}

.titulo {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff; 
}

.lista-produtos {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; 
}

.produto {
    background-color: #3a3a3a;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);   
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 5px;

}

.produto h3 {
    margin: 10px 0 5px;
    font-size: 1.5em; 
}

.produto p {
    margin: 5px 0;
}

.preco {
    font-weight: bold;
    color: #eb5d1c; 
}

.quantidade {
    width: 50px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 30px;
    background-color: #3a3a3a;
    color: #fff;
    font-size: 1em;
    transition: border-color 0.3s ease;    
    -webkit-transition: border-color 0.3s ease;
    -moz-transition: border-color 0.3s ease;
    -ms-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
}

.quantidade:focus {
    border-color: #f89c11;
    outline: none;
}

.botoes-form {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    gap: 20px
}

.botao-enviar {
    padding: 15px 25px;
    color: #000;
    background-color: #f89c11;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.botao-enviar:hover {
    background-color: #e63a24;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 10px;
    margin-bottom: 15px;
}

.radio {
    display: flex;        
    align-items: center;   
    margin: 8px;    
}

.radio input[type="radio"] {
    margin-right: 10px; 
}

.radio label {
    display: flex;
    align-items: center; 
    width: 100%; 
}

.radio label i {
    margin-right: 10px; 
}


.input-padrao {
    position: relative;
    margin-bottom: 20px;
}

.input-padrao.total {
    width: 100%;
}

.input-padrao label {
    position: absolute;
    top: 18px;
    left: 20px;
    color: #999;
    transition: all 0.25s ease;
    pointer-events: none;
    background-color: #2d2d2d;
    padding: 0 5px;
    border-radius: 5px;
}

.input-padrao input,
.input-padrao select {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #444;
    border-radius: 30px;
    background-color: #3a3a3a;
    color: #fff;
}

.input-padrao input:focus,
.input-padrao select:focus {
    border-color: #f89c11;
}

.input-padrao input:focus ~ label,
.input-padrao select:focus ~ label,
.input-padrao input:valid ~ label,
.input-padrao select:valid ~ label {
    top: -10px;
    left: 20px;
    background-color: #f89c11;
    color: #fff;
    font-size: 0.85em;
    border-radius: 30px;
}

.pequeno {
    grid-column: span 1;
}

.medio {
    grid-column: span 2;
}

.grande {
    grid-column: span 3;
}

.detalhes-compra {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.tabela-compra {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabela-compra th, .tabela-compra td {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
}

.tabela-compra th {
    background-color: #f89c11;
    color: #000;
}

.tabela-compra td {
    background-color: #3a3a3a;
}